.app {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-variant);
  min-width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  
    /* background-color: #627ad1;
    max-width: 650px;
    min-width: 450px;
    height: min-content;
    min-height: 200px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly; */
  }
  
  /* PREGUNTAS */
  .leftSection {
    /* width: 100%; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .numberQuestion span {
    margin-bottom: 2rem;
    font-size: 150%
  }
  
  .titleQuestion {
    font-size: 200%;
    margin: 2rem 0;
    padding: 1rem;
  }
  
  .rightSection {
    /* width: 150%; */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* justify-content: space-between; */
  }
  
  .timeRemaining {
    display: flex;
    font-size: 180%;
    color:aquamarine;
    margin-top:2rem;
    margin-left: 2rem;
  }
  
  .container-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  
  button {
    width: 40%;
    font-size: 200%;
    color: #ffffff;
    background-color: var(--color-bg-variant);
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    padding: 0.5rem;
    cursor: pointer;
  }

  button:hover {
    background-color: #234668;
  }
  
  button[disabled] {
    background-color: #555e7d;
    color: #ffffff;
    cursor: not-allowed;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }

  /* .container-dinamic{
  
  } */

  .continue{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .reference{
    font-size: 150%;
    color: var(--color-light);
  }