* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  body {
    margin: 0;
    color: black;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  /* button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
   */
   .correct,
  .correct:hover,
  .correct:disabled {
    background-color: #2f922f;
  }
  
  .incorrect,
  .incorrect:hover,
  .incorrect:disabled {
    background-color: #ff3333;
  }